doc/xds/template/templateLeaf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
    vc:minVersion="1.1" 
    targetNamespace="com.opendicom.xsd.dir.template.leaf"
    xmlns:tl="com.opendicom.xsd.dir.template.leaf"
    >
    <xs:element name="textarea">
        <xs:complexType mixed="true">
            <xs:attribute name="name" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="table">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
